<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel='stylesheet' href='/css/bootstrap.css' />
    <script type="text/javascript" data-main="/js/client.js" src="/js/vendor/require.js"></script>
</head>
<body>
    <div id="main-container">

    </div>
</body>
</html>