<!DOCTYPE html>
<html >
<head>
    <title>Angular ToDo</title>
    <script type="text/javascript"  src="/js/vendor/angular.js"></script>
    <script type="text/javascript"  src="/js/vendor/angular-route.js"></script>
    <script type="text/javascript"  src="/js/vendor/angular-resource.js"></script>
    <script type="text/javascript"  src="/js/app.js"></script>
    <script type="text/javascript"  src="/js/controllers.js"></script>
    <script type="text/javascript"  src="/js/services.js"></script>
</head>
<style>
    .doneTodo {
        text-decoration: line-through;
    }
</style>
<body ng-app="todoApp">
    <a href="#/form">Add new ToDo</a>
    <a href="#/">List </a>
    <div ng-view=""></div>
</body>
</html>