<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<script type="text/javascript">

    var goods = <%- JSON.stringify(goods) %>;

</script>
        Test html created by <%= name %> who works as <%= job %>
</body>
</html>